POSTGRES_HOST=
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=

JWT_SECRET_KEY=
REDIRECT_URL=http://localhost:3000/oauth2/register-supplement?regToken=

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=

MINIO_SERVER_URL=http://localhost:9000
MINIO_ROOT_USER=
MINIO_ROOT_PASSWORD=

# Stripe
STRIPE_SECRET_KEY=
STRIPE_PUBLISH_KEY=
STRIPE_WEBHOOK_SECRET=

# Mail
MAIL_USERNAME=
MAIL_PASSWORD=

# Zoom
ZOOM_ACCOUNT_ID=
ZOOM_CLIENT_ID=
ZOOM_CLIENT_SECRET=
ZOOM_WEBHOOK_SECRET_TOKEN=

# NGROK
NGROK_AUTHTOKEN=
NGROK_STATIC_DOMAIN=

# Redis
REDIS_HOST=redis
REDIS_PORT=6379
REDIS_PASSWORD=quanbro7

#
GEMINI_API_KEY=
GOOGLE_API_KEY=